Android Open Source Project
Google/AndroidStudioPreview2023.1
dconf
dunst
glib-2.0/settings
htop
lazygit
obs-studio
pulse
qBittorrent
wal/templates
waybar
nvim
QtProject.conf
pavucontrol.ini
hypr
mpv/watch_later
